{% load static %} {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesome-free-6.3.0-web/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static '/js/splide.min.js' %}"></script>

    <link href="{% static '/css/splide.min.css' %}" rel="stylesheet"> {% tailwind_css %}




</head>
<nav class=" bg-white shadow-xl flex  md:items-center mx-auto ">

    <img class="h-20 w-20" src="/static/photos/logo.jpeg " alt="logo " />
    <div class="container  mx-auto px-2 pt-0 flex justify-between flex-wrap  ">

        <div class="MenuList  hidden md:flex text-center md:relative   md:w-auto w-full md: min-h-fit rounded-xl  md:items-start ">
            <!-- Left links -->
            <ul class="absolute  right-0 top-8 z-50   flex-col  bg-slate-100 md:top-0  md:relative w-auto  md:flex  rounded-xl md:flex-row  md:bg-white md:text-blue-700 md:items-center  md:text-sm lg:text-xl gap-x-4   capitalize">
                <li class="dropmenu1   items-center lg:px-4 ">
                    <!--<i class="fa-sharp fa-solid fa-greater-than fa-rotate-90"></i> <button class=" hover:bg-white hover:text-blue-700" href="# "><i class="fa fa-fw fa-home "></i>Home</button> -->

                    <button class="HomeButton flex w-full items-center justify-center  rounded px-2 py-2 font-bold  active:ring-2
                     text-blue-700 text-sm  motion-reduce:transition-none hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] ">
                     <i class="fas fa-home-lg-alt fa-sm"></i>Home
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 15" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M19 9l-7 7-7-7"></path></svg>
                    </button>


                    <ul class=" drop_down1 hidden  absolute z-[1000] shadow-[0_4px_9px_-4px_#3b71ca]  py-2 text-xl rounded bg-white ">
                        <li>
                            <a href="{% url 'history' %}" class="block w-full px-4 py-2 text-sm hover:bg-blue-600 hover:text-white">History</a>
                        </li>
                        <li>
                            <a href="{% url 'GeoPostion' %}" class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white">Geographical Position</a>
                        </li>
                        <li>
                            <a href="{% url 'infrastructure' %}" class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white">Infrastructure</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white">organizational chart</a>
                        </li>
                    </ul>


                </li>


                <li class="dropmenu2 lg:px-4">
                    <button class="w-full flex items-center justify-center   font-semibold  rounded px-2 py-2  text-blue-600 text-sm hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" type=" button ">
                  Studies<svg class="w-4 h-4 ml-2 " aria-hidden="true " fill="none " stroke="currentColor " viewBox="0 0 24 15 " xmlns="http://www.w3.org/2000/svg "><path stroke-linecap="round
                        " stroke-linejoin="round " stroke-width="4 " d="M19 9l-7 7-7-7 "></path></svg></button>

                    <ul class="drop_down2 absolute z-[1000] shadow-[0_4px_9px_-4px_#3b71ca] hidden py-2 text-xl rounded bg-white text-blue-600  ">
                        <li>
                            <a href="# " class=" block px-4 py-2 text-sm hover:bg-blue-600 hover:text-white">Study and schooling</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Offers and formation</a>

                        </li>
                    </ul>
                </li>
                <li class="dropmenu3 lg:px-4 ">
                    <button class="w-full flex items-center justify-center rounded px-2 py-2   font-semibold  text-blue-600 text-sm hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" type=" button ">
                        Departements<svg class="w-4 h-4 ml-2 " aria-hidden="true " fill="none " stroke="currentColor " viewBox="0 0 24 15 " xmlns="http://www.w3.org/2000/svg "><path stroke-linecap="round
                          " stroke-linejoin="round " stroke-width="4 " d="M19 9l-7 7-7-7 "></path></svg></button>
                    <ul class="drop_down3 absolute z-[1000] shadow-[0_4px_9px_-4px_#3b71ca] hidden py-2 text-xl rounded bg-white text-blue-600  ">
                        <li>
                            <a href="# " class=" block px-4 py-2 text-sm hover:bg-blue-600 hover:text-white">Preparatory Classes</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Common Teaching</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">applied Statistics and Econometrics</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">finance and Actuarial</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">quantitative and prospective economics</a>

                        </li>

                    </ul>


                </li>

                <li class="dropmenu4 lg:px-4 ">
                    <button class="w-full flex items-center justify-center rounded font-semibold   px-2 py-2  text-blue-600 text-sm hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" type=" button ">
                   Scientific research <svg class="w-4 h-4 ml-2 " aria-hidden="true " fill="none " stroke="currentColor " viewBox="0 0 24 15 " xmlns="http://www.w3.org/2000/svg "><path stroke-linecap="round
                          " stroke-linejoin="round " stroke-width="4 " d="M19 9l-7 7-7-7 "></path></svg></button>
                    <ul class="drop_down4 absolute z-[1000] shadow-[0_4px_9px_-4px_#3b71ca] hidden py-2 text-xl rounded bg-white text-blue-600  ">
                        <li>
                            <a href="# " class=" block px-4 py-2 text-sm hover:bg-blue-600 hover:text-white">Research laboratories</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Scientific publications</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Scientific activities</a>

                        </li>
                    </ul>
                </li>
                <li class=" lg:px-4">
                    <button class="w-full flex items-center justify-center rounded   font-semibold   px-2 py-2  text-blue-600 text-sm hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" type=" button ">
                        Cooperation<svg class="w-4 h-4 ml-2 " aria-hidden="true " fill="none " stroke="currentColor " viewBox="0 0 24 15 " xmlns="http://www.w3.org/2000/svg "><path stroke-linecap="round
                               " stroke-linejoin="round " stroke-width="4 " d="M19 9l-7 7-7-7 "></path></svg></button>
                </li>
                <li class="dropmenu6 lg:px-4">
                    <button class="w-full flex items-center justify-center rounded   font-semibold   px-2 py-2  text-blue-600 text-sm hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" type=" button ">
                        School life<svg class="w-4 h-4 ml-2 " aria-hidden="true " fill="none " stroke="currentColor " viewBox="0 0 24 15 " xmlns="http://www.w3.org/2000/svg "><path stroke-linecap="round
                               " stroke-linejoin="round " stroke-width="4 " d="M19 9l-7 7-7-7 "></path></svg></button>
                    <ul class="drop_down6 absolute z-[1000] shadow-[0_4px_9px_-4px_#3b71ca] hidden py-2 text-xl rounded bg-white text-blue-600  ">
                        <li>
                            <a href="# " class=" block px-4 py-2 text-sm hover:bg-blue-600 hover:text-white">Events</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">ENSSEA Clubs</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Entrepreneurship House</a>

                        </li>
                        <li>
                            <a href="# " class="block px-4 py-2 text-sm  hover:bg-blue-600 hover:text-white ">Sport</a>

                        </li>
                    </ul>
                </li>




            </ul>


        </div>


    </div>


    <!-- <div class="relative mb-4 flex w-1/6 flex-wrap items-stretch">
        <input type="search" class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
            placeholder="Search" aria-label="Search" aria-describedby="button-addon1" />

       Search button
        <button class="relative z-[2] flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
            type="button" id="button-addon1" data-te-ripple-init data-te-ripple-color="light">
                   
                  </button>
    </div> -->




    <div class="px-4 py-2 ">
        <button class="Button11 md:hidden " type="botton"><i class="fas fa-bars fa-lg"></i></button>
    </div>



</nav>

{% block js_block %}
<script type="text/javascript" src="{%static 'js/navbar.js'%}"></script>


{% endblock %}