{% load static %} {% load tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesome-free-6.3.0-web/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <title>{% trans 'Research laboratories' %}</title>
    <link rel="icon" type="image/x-icon" href="/static/photos/logoENSSEA.ico">

    {% tailwind_css %}

</head>

<body>
    <header class="sticky top-0 z-50">
        {% include 'NavbarPrincipal.html' %}

    </header>
    <section>
        <div class="sticky -top-10 z-0  w-auto h-44 bg-bottom   bg-cover bg-[url('/static/photos/ScientificResearch/ScitficResh.png')] bg-no-repeat">
                <div class="relative group text-center top-32 py-2 text-white bg-blue-800 rounded-md bg-opacity-50 font-arabic text-2xl  w-full"> {% trans 'Research laboratories' %}


                </div>

        </div>

        
            <!-- <div class="absolute bg-blue-500 h-1 left-0 bottom-0 w-full transform scale-x-0 transition-transform duration-200 origin-center group-hover:scale-x-100"></div> -->

           
            <div class=" w-auto h-auto flex flex-row  ">
           
                <div class=" w-3/4 md:w-5/6  ">
                    <div id="item" style="direction: ltr;" class="flex flex-col font-mono mx-6 my-6 rounded-sm w-auto h-auto space-y-4 text-vsm md:text-sm">
                        {% for item in laborch %}
                        
                        <div class=" rounded-md  w-auto py-2 px-4 hover:bg-yellow-300">
                            <h1 class="  md:text-xl font-bold w-auto py-2  ">{{ item.laboName }}</h1>


                            
                           <div class=" pb-2 mb-4 border-t-2"> {{item.laboDescrp}} </div>


                           <span id="team" class="font-mono"> {% trans 'Laboratory team' %}</span>
                           <table class="w-full border">
                            <thead >
                                <tr>
                                <th class="border">{% trans 'Name' %}</th>
                                <th>{% trans 'Grade' %}</th>
                                </tr>
                            </thead>
                            <tbody class=border>
                                
                            {% for item1 in item.membrLabo.all %}
                                <tr class="border">
                               <td class="border px-2" > {{item1.name}}</td>
                               <td class="px-2"> {{item1.grade}}</td>
                               </tr>
                            {% endfor %}
                                
                            </tbody>

                           </table>

                        
                          
                        </div>
                     
                        {% endfor %}

                      

                    </div>
    
                 </div>
                 <div class=" w-1/4 md:w-1/6 h-auto border-l-2">
                    {% include 'sideNavScientfcR.html' %}
    
                 </div>
            </div>
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% block js_block %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'js/sideNavScientificRsch.js'%}"></script>
    <script>
        function DetectLanguage(){
            var selectElement = document.getElementById('selectlist');
        
            var selectedIndex = selectElement.selectedIndex;
        
            var selectedOption = selectElement.options[selectedIndex];
        
            var selectedValue = selectedOption.value;
        
            return (selectedValue);
            
        }
        
        if (DetectLanguage()=='ar'){ 
            let labo=document.getElementById('item');
        
            labo.style.direction='rtl';
            labo.classList.remove("font-mono");
             labo.classList.add("font-arabic");
             labo.classList.add("font-bold");
        
        
        }
    </script>


    {% endblock %}
</body>

</html>