{% load static %} {% load tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesome-free-6.3.0-web/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static '/css/splide.min.css' %}" rel="stylesheet"> {% tailwind_css %}




</head>

<nav id="navbar" class=" h-auto w-full    ">


        <div id="sideNav" class="grid grid-cols-1  mt-2 text-center font-arabic text-sm ">
            <!-- Left links -->
          
            <ul class="capitalize ">

                        <li  class="border-b py-0 my-3">
                            <a id="studiesAndScholling" href="{% url 'studiesAndScholling' %}" class=" block  hover:bg-blue-600 hover:text-white">{% trans 'Study and schooling' %} </a>

                        </li>
                        <li class="border-b py-0 my-3">
                            <a id="OffersFormation" href="{% url 'OffersAndFormation' %} " class="block   hover:bg-blue-600 hover:text-white ">{% trans 'Offers and formation' %}</a>

                        </li>
                       
                    
            </ul>

           
        </div>
       
        
        
    


    



</nav>

{% block js_block %}


{% endblock %}